body {
color: #767676;
background: #f1f2f7;
font-family: 'Open Sans',sans-serif;
padding: 0 !important;
margin: 0 !important;
font-size: 13px;
text-rendering: optimizeLegibility;
display: block;
}
#logo_span{
	font-family: Pacifico;
	font-size: 22px;
	font-weight: 100;
}
#anr{
	font-family: Pacifico;
	font-size: 15px;
	font-weight: 100;
	color: #fff;

}
#container {
width: 100%;
height: 100%;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.fixed-top {
position: fixed;
box-shadow: 1px 0 3px rgba(0,0,0,.15);
}
.header {
left: 0;
right: 0;
z-index: 1002;
background: #fff;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.brand {
	background: #FF131C;
	float: left;
	width: 105px;
	height: 105px;
	position: relative;
	color: #fff;
	position:relative;       
    -webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

a.logo {
font-size: 21px;
float: left;
margin: 31px 0 0 15px;
text-transform: uppercase;
color: #fff;
text-decoration: none;
transition: all .2s ease-in-out;
}
a.logo:hover { 
	transform: scale(1.1);
}
.top-nav {
margin-top: 0px;
}
.user_profile{
  height: 105px;
  width: 105px;
  position: absolute;
  left: 105px;
  background: #FE3037;
}
.profile_icon{
	font-size: 77px !important;
	color: white !important;
	padding-left: 21px !important;
  	padding-top: 18px !important;
	transition: all .2s ease-in-out;
}
.profile_icon:hover{
transform: scale(1.1);
}

.user-pref{
  height: 105px;
  width: 105px;
  position: absolute;
  top:105px;
  background: #FE3037;
}

#sidebar {
width: 104px;
height: 100%;
position: fixed;
background: #fff;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
border: 0px solid #986464;
-webkit-box-shadow: 9px 10px 7px -9px #888;
-moz-box-shadow:9px 10px 7px -9px #888;
box-shadow: 9px 10px 7px -9px #888;
}
.leftside-navigation, .right-stat-bar {
height: 100%;
}

#main-content {
margin-left: 105px;
background-color: #f0f0f0;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.wrapper {
display: inline-block;
margin-top: 103px;
padding: 15px;
width: 100%;
}


