<html>  <!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="initial-scale=1.0"></meta>
    <title> Planr.me - Log In</title>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/main_index.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>


<body>
<section id="container">
<!--header start-->
    <header class="header fixed-top clearfix">

    <!--logo start-->
    <div class="brand">

        <a href="#" class="logo">
            <span id="logo_span">P<span id="anr">lan R</span></span>
        </a>
    </div>
    <!--logo end-->


    <div class="top-nav clearfix">
		
		<!--search & user info start-->
      	
		<div class="user_profile">
            <a href="#"><i class="fa fa-user profile_icon"></i></a>
			<div>	<input type="text" id="search" placeholder="Type to search"></input> </div>
        </div>

		<!--search & user info end-->
		
		<!--add course button starts -->
		<div id="add_button">
			<a id="add_circle" href="#" onclick="toggle_visibility('add_section')" style="font-size:25px";> <i class="fa fa-plus-circle"></i></a>
			<p id="add_section_text"> Add section </p>
    	</div>
		<!-- add course button ends -->
		
		<div class="top-nav-list top-nav-list-right logout_menu" id="letmego">
            <a class="menu_button_top" href="#" style="font-size: 44px"><span class="fa fa-power-off" style="font-size:1.1em; line-height: 2.1em;"></span></a>
        </div>
    </div>
		
	
</header>
<!--header end-->


<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">

        </div>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--sidebar end-->

<!--main content start || place for grid couses -->
<section id="main-content">
<section class="wrapper">

		<!-- start of add section form -->
        <div id = "add_section" class="test" style="display: none">
		<form name="myform" action="" onsubmit="" method="" id="add_section">
			
			<fieldset>
					<legend id="title_field">Add Section</legend>
				<div id="form_content">
					<p><label style="width:162.5px;">Course Name</label><input type="text/javascript" id="cName"></input>
					<label style="width:162px">Semester Offered</label>	
													<input style="width:25px" type="radio" name="Fall" value="1">Fall</input>
													<input style="width:25px" type="radio" name="Winter" value="2">Winter</input>
													<input style="width:25px" type="radio" name="Fall/Winter" value="3">Fall/Winter</input>
													<input style="width:25px" type="radio" name="Summer 1" value="4">Summer1</input>
													<input style="width:25px" type="radio" name="Summer 2" value="5">Summer2</input>
													<input style="width:25px" type="radio" name="Online" value="1">Online</input><br>
													</p>
					<p><label>Lec</label>
					<label>Day 1</label><input id="lDay1"></input>
					<label>Day 2</label><input id="lDay2"></input>
					<label>Start</label><input id="startL"></input>
					<label>End</label><input id="endL"></input></p>
					<p><label>Tut</label>
					<label>Day 1</label><input id="tDay1"></input>
					<label>Day 2</label><input id="tDay2"></input>
					<label>Start</label><input id="startT"></input>
					<label>End</label><input id="endT"></input></p>
					<p><label>Lab</label>
					<label>Day 1</label><input id="labDay1"></input>
					<label>Day 2</label><input id="labDay2"></input>
					<label>Start</label><input id="startLab"></input>
					<label>End</label><input id="endLab"></input></p>
				</div>

					<div class="button_holder"> <input class="form_button" id="adding_button" type="submit" value="Add Section" />
							<input class="form_button" id="cancel_button" type="submit" value="Cancel" /></div>
			
				
			</fieldset>
		
		</form>	
		</div>
		<!-- end of add section form -->


		<!-- start of edit section form -->		
 		<div id = "edit_section" class="test" style="display: none">
		<form name="myform" action="" onsubmit="" method="" id="edit_section">
			
			<fieldset>
					<legend id="title_field">Edit Section</legend>
				<div id="form_content">
					<p><label style="width:162.5px;">Course Name</label><input type="text/javascript" id="editcName"></input>
					<label style="width:162px">Semester Offered</label>	
													<input style="width:25px" type="radio" name="Fall" id="Fall" value="1">Fall</input>
													<input style="width:25px" type="radio" name="Winter" id="Winter" value="2">Winter</input>
													<input style="width:25px" type="radio" name="Fall/Winter" id="Fall/Winter" value="3">Fall/Winter</input>
													<input style="width:25px" type="radio" name="Summer 1" id="Summer 1" value="4">Summer1</input>
													<input style="width:25px" type="radio" name="Summer 2" id="Summer 2" value="5">Summer2</input>
													<input style="width:25px" type="radio" name="Online" id="Online" value="6">Online</input><br>
													</p>
					<p><label>Lec</label>
					<label>Day 1</label><input id="editlDay1"></input>
					<label>Day 2</label><input id="editlDay2"></input>
					<label>Start</label><input id="editstartL"></input>
					<label>End</label><input id="editendL"></input></p>
					<p><label>Tut</label>
					<label>Day 1</label><input id="edittDay1"></input>
					<label>Day 2</label><input id="edittDay2"></input>
					<label>Start</label><input id="editstartT"></input>
					<label>End</label><input id="editendT"></input></p>
					<p><label>Lab</label>
					<label>Day 1</label><input id="editlabDay1"></input>
					<label>Day 2</label><input id="editlabDay2"></input>
					<label>Start</label><input id="editstartLab"></input>
					<label>End</label><input id="editendLab"></input></p>
				</div>

					<div class="button_holder"> <input class="form_button" id="edit_button" type="submit" value="Edit Section" />
							<input class="form_button" id="cancel_button" type="submit" value="Cancel" /></div>
					
			</fieldset>
		</form>	
		</div>
		<!-- end of edit section form -->
	
        <div id="table_content"> 
			
            <table id="course_table">
            	<script type="text/javascript" src="js/admin.js"></script>
            </table>	
        </div>

    </div>
</div>
</section>
</section>
<!--main content end-->

</section>
</body>
</html>