<html>  <!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="initial-scale=1.0"></meta>
    <title> Planr.me - Log In</title>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/main_index.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<section id="container">
	
	<!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="#" class="logo">
                    <span id="logo_span">P<span id="anr">lan R</span></span>
                </a>
            </div>
            <!--logo end-->


            <div class="top-nav clearfix">

                <!--search & user info start-->
                <ul class="top-nav-list">
                    <li class="top-nav-list top-nav-list-left user_profile">
                        <a href="#" class="user_profile"><span class="fa fa-user" style="font-size: 4.4em;line-height: 1.8em;"></span></a>
                    </li>
                 

					<!-- <div class="user_profile">
						<a href="#"><i class="fa fa-user profile_icon"></i></a>
						<div>	<input type="text" id="search" placeholder="Type to search"></input> </div>
					</div> -->

					<li class="top-nav-list top-nav-list-right logout_menu" id="letmego">
						<a class="menu_button_top" href="#" style="font-size: 14px"><span class="fa fa-power-off" style="font-size:3.1em; line-height: 2.4em;"></span></a>
					</li>
					
					<!--add course button starts -->
					<div>
						<li id="add_button" class="top-nav-list top-nav-list-right logout_menu">
							<a id="add_b" href="#" onclick="toggle_visibility('add_section'); courseOption()" ><i class="fa fa-plus-circle"></i></a>
							 <p id="add_text"> Add section </p>
						</li>
					</div>
					<!-- add course button ends -->

				

				</ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->


<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation" style="text-align:center">
  			<div ng-controller="PreferencesCtrl" id="pref-tile">
				<a href='admin.html' id="sidebar_text"> <p style="padding-top: 35px;">View Sections </p> </a>
            </div>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--sidebar end-->

<!--main content start || place for grid couses -->
<section id="main-content">
<section class="wrapper">

		<!-- start of add section form -->
        <div id = "add_section" class="test" style="display: none">
		<form name="myform" action="" onsubmit="" method="" id="add_section">
			
			<fieldset>
					<legend id="title_field">Add Section</legend>
				<div id="form_content">
					<p>
					<label style="width:162.5px;" id="select_option">Course Name</label>
						
					<label style="width:162px">Semester Offered</label>	
													<input style="width:25px" type="radio" name="semester" id="aFall" value="1" required>Fall</input>
													<input style="width:25px" type="radio" name="semester" id="aWinter" value="2" required>Winter</input>
													<input style="width:25px" type="radio" name="semester" id="aFallWinter" value="3" required>Fall/Winter</input>
													<input style="width:25px" type="radio" name="semester" id="aSummer1" value="4" required>Summer1</input>
													<input style="width:25px" type="radio" name="semester" id="aSummer2" value="5" required>Summer2</input>
													<input style="width:25px" type="radio" name="semester" id="aOnline" value="6" required>Online</input><br>
													</p>
					<p><label>Lec</label>
					<label>Day 1</label><input id="lDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase" required></input>
					<label>Day 2</label><input id="lDay2" placeholder="M / T / W / J / F" maxlength="1"></input>
					<label>Start</label><input id="startL" placeholder="00:00" maxlength="5" required></input>
					<label>End</label><input id="endL" placeholder="00:00" maxlength="5" required></input></p>
					<p><label>Tut</label>
					<label>Day 1</label><input id="tDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Day 2</label><input id="tDay2" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Start</label><input id="startT" placeholder="00:00" maxlength="5" ></input>
					<label>End</label><input id="endT" placeholder="00:00" maxlength="5"></input></p>
					<p><label>Lab</label>
					<label>Day 1</label><input id="labDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Start</label><input id="startLab" placeholder="00:00" maxlength="5"></input>
					<label>End</label><input id="endLab" placeholder="00:00" maxlength="5"></input></p>
				</div>

					<div class="button_holder"> 
							<input class="form_button" onclick="validateInputAdd();" id="adding_button" type="submit" value="Add Section" />
							<input class="form_button" id="cancel_button" type="reset" value="Cancel" />
					</div>
		
			</fieldset>
		
		</form>	
		</div>
		<!-- end of add section form -->


		<!-- start of edit section form -->		
 		<div id = "edit_section" class="test" style="display: none">
		<form name="myform" action="" onsubmit="" method="" id="edit_section">
			
			<fieldset>
					<legend id="title_field">Edit Section</legend>
				<div id="form_content">
					<p>
					
					<label style="width:162.5px;">Course Name</label><input class ="readonly" type="text/javascript" id="editcName" readonly></input>
					<label  style="width:20px;">ID</label><input class ="readonly" id="courseID" style="width:50px" readonly></input>
					<label style="width:162px">Semester Offered</label>	
													<input style="width:25px" type="radio" name="editsemester" id="1" value="1" required>Fall</input>
													<input style="width:25px" type="radio" name="editsemester" id="2" value="2" required>Winter</input>
													<input style="width:25px" type="radio" name="editsemester" id="3" value="3" required>Fall/Winter</input>
													<input style="width:25px" type="radio" name="editsemester" id="4" value="4" required>Summer1</input>
													<input style="width:25px" type="radio" name="editsemester" id="5" value="5" required>Summer2</input>
													<input style="width:25px" type="radio" name="editsemester" id="6" value="6" required>Online</input><br>
													</p>
					<p><label>Lec</label>
					<label>Day 1</label><input id="editlDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase" required></input>
					<label>Day 2</label><input id="editlDay2" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Start</label><input id="editstartL" placeholder="00:00" required></input>
					<label>End</label><input id="editendL" placeholder="00:00" required></input></p>
					<p><label>Tut</label>
					<label>Day 1</label><input id="edittDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Day 2</label><input id="edittDay2" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Start</label><input id="editstartT" placeholder="00:00" maxlength="5"></input>
					<label>End</label><input id="editendT" placeholder="00:00" maxlength="5"></input></p>
					<p><label>Lab</label>
					<label>Day 1</label><input id="editlabDay1" placeholder="M / T / W / J / F" maxlength="1" style="text-transform: uppercase"></input>
					<label>Start</label><input id="editstartLab" placeholder="00:00" maxlength="5"></input>
					<label>End</label><input id="editendLab" placeholder="00:00" maxlength="5"></input></p>
				</div>

					<div class="button_holder"> 
						<input class="form_button" id="edit_button" type="submit" onclick="validateInputEdit()" value="Edit Section" />
						<input class="form_button" id="cancel_button" type="reset" value="Cancel" />
					</div>
					
			</fieldset>
		</form>	
		</div>
		<!-- end of edit section form -->
	
        <div id="table_content"> 
			
            <table id="course_table">
            	<script type="text/javascript" src="js/admin.js"></script>
            </table>	
        </div>

</section>
</section>
<!--main content end-->

</section>
</body>
</html>