@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Dashboard</h1>

    <input type="button" id="ChangePassToPlanr" value="Change password to 'planr'"/>
    <input type="button" id="GetCredits" value="Get credits completed from student record!"/>
    <input type="button" id="TestGetCourses" value="Get course count in DB!"/>
    <input type="button" id="TestGetSections" value="Get Day1 value of first section in DB!" />

    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>

<script>
    $("#GetCredits").click(function() {
        $.ajax({
            url: '@Url.Action("ViewRecord")',
            type: "GET",
            success: function(response) {
                alert('you have completed this many credits: ' + response.CreditsCompleted);
            }
        });
    });

    $("#ChangePassToPlanr").click(function() {
        $.ajax({
            url: '@Url.Action("ChangePassword")',
            data: { 'newPassword': 'planr' },
            type: "GET",
            success: function(response) {
                alert('response code (0 is success): ' + response);
            }
        });
    });

    $("#TestGetCourses").click(function() {
        $.ajax({
            url: '@Url.Action("TestGetCourses")',
            type: "GET",
            success: function(response) {
                alert('there are this many courses: ' + response);
            }
        });
    });

    $("#TestGetSections").click(function () {
        $.ajax({
            url: '@Url.Action("TestGetSections")',
            type: "GET",
            success: function (response) {
                alert('Day 1 value of first section returned: ' + response[0].Day1);
            }
        });
    });
</script>



